# Node environment, e.g. `development` or `production`
NODE_ENV=

# Application host (optional, default is `localhost`)
HOST=localhost

# Application port (optional, default is 3000)
PORT=3000

# Timezone, e.g. `Europe/Berlin`
TZ=Europe/Berlin

# Database credentials (see https://sequelize.org/v5/manual/dialects.html)
DB_HOST=host.de
DB_PORT=3306
DB_USER=user
DB_PASSWORD=
DB_DATABASE=database
DB_ENGINE=mysql

# JavaWebToken secret
JWT_SECRET=

# CORS (is optional, default to `*`)
CORS=http://localhost:3000
