# Node environment, e.g. `development` or `production`
NODE_ENV=

# Application host (optional, default is `localhost`)
HOST=localhost

# Application port (optional, default is 3000)
PORT=3000

# Timezone, e.g. `Europe/Berlin`
TZ=Europe/Berlin

# MySQL credentials (PORT is optional)
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=dialogiktv-api

# JavaWebToken secret
JWT_SECRET=

# CORS (is optional, default to `*`)
CORS=http://localhost:3000
